@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{

    --vanilla: whitesmoke;
    --orange: rgb(255, 208, 0);
    --green: rgb(69, 180, 69);
    --pastel: rgb(245, 216, 88);

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-image: url(../images/Banner\ 2.jpg);
    background-position: center;
    background-size: cover;
    font-family: "Poppins";
}

.container {
    margin-top: 70px;
    display: flex;
    width: 600px;
    align-items: center;
    height: auto;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(245, 245, 245, 0.874);
    border-radius: 10px;
    flex-direction: column;
    backdrop-filter: blur(10px);
    margin-bottom: 70px;
}

.titulo {
    color: rgb(27, 27, 27);
    font-size: 2.8rem;
    font-weight: bolder;
    margin-bottom: 0;
    text-align: center;
}

.sub {
    margin-top: 0;
    text-align: center;
}

.input-field{
    width: 93%;
    height: 10px;
    border-radius: 10px;
    border: 2px solid gray;
    background-color: whitesmoke;
    padding: 15px;
    font-size: 1rem;
}

.iniciar-btn {
    border-radius: 10px;
    border: 2px solid var(--green);
    background-color: var(--green);
    margin-top: 10px;
    width: 73.5%;
    height: 40px;
    color: whitesmoke;
    font-size: 1.3rem;
    transition: 0.3s;
}

.input-container {
    position: relative;
    width: 73%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}

.input-label {
    position: absolute;
    left: 15px;
    top: 9px;
    color: rgb(158, 158, 158);
    pointer-events: none;
    transition: 0.4s;
}

.input-field:focus + .input-label{
    top: -25px;
    color: var(--green);
}

.iniciar-btn:hover {
    background-color: whitesmoke;
    color: var(--green);
}

#link {
    color: rgb(52, 52, 255);
    text-decoration: none;
}

#crear-cuenta:hover {
    text-decoration: underline;
}

.text-link {
    text-align: center;
}

@media screen and (max-width: 697px){
    .container {
        width: 390px;
    }

    .input-label {
        left: 10px;
    }
}

@media screen and (max-width: 397px){
    .container {
        width: 290px;
    }
    .input-label {
        left: 8px;
    }
}